{
  "kind": "tm:net:dns-resolver:dns-resolverstate",
  "name": "rs_dns_resolver",
  "partition": "Common",
  "answerDefaultZones": "no",
  "cacheSize": 5767168,
  "randomizeQueryNameCase": "yes",
  "routeDomain": "/Common/0",
  "useIpv4": "yes",
  "useIpv6": "yes",
  "useTcp": "yes",
  "useUdp": "yes",
  "forwardZones": {}
}